


<% @urls.each do |url| %>
<div>
	URL: <%= url[:link] %>  <br>
<%= button_to "delete", {controller: :urls, action: :destroy, random_string: url[:random_string] }, :method => :delete %> 

</div> <br>
<% end %>
